# Mongo
MONGO_URI=mongodb://localhost:12345
MONGO_DB=mongo_tic_tac_ai_db

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=1234
POSTGRES_DB=postgres_tic_tac_ai_db
POSTGRES_USER=postgres_tic_tac_user
POSTGRES_PASSWORD=postgres_tic_tac_password