# Mongo
MONGO_URI=mongodb://localhost:27017
MONGO_DB=mongo_tic_tac_db

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=postgres_tic_tac_db
POSTGRES_USER=postgres_tic_tac_user
POSTGRES_PASSWORD=postgres_tic_tac_password